<ion-view view-title="Cromática">
  <ion-content class="inicio padding">

    <img src="img/ionic.png" width="30%"></div>

    <div class="text">
      <p>Este es el proyecto del grupo hackatodo para la Semana Linux de la Universidad Distrital Francisco José de Caldas</p>
      <p>Para mejorar las experiencia de los usuarios con daltonismo al usar aplicaciones móviles,
         decidimos crear nuestra propia librería de apoyo a los desarrolladores para que incluyan en su desarrollo este soporte</p>
      <p><b><center>Acompáñanos para saber más<center></b></p>
    </div>
    <br>
    <button class="button button-positive" ui-sref="showcase">Siguiente</button>
    <br><br>
    <button class="button" ui-sref="registro">registrate si quieres</button>
  </ion-content>
</ion-view>
